{% extends 'disenio.html.twig' %}

{% block title %}Nuevo recepcionista{% endblock %}

{% block contenido %}
    <h3 class="">Nuevo Recepcionista</h3>

    <br>
    <a href="{{ path('planilleros_index') }}"><i class="acciones fa fa-arrow-circle-left"></i></I></a>

    {{ include('planilleros/_form.html.twig') }}

{% endblock %}
